/*laptop*/

@media only screen and (max-width: 992px){
	.home-title{
			margin-top: 3rem;
			font-size: 3rem;
	}
	.home-btn{
		height: 4rem;
		width: 100%;
		margin-bottom: 0.5rem;
		padding:0rem 2rem;
		font-size: 1.5rem;
		/* border: 1px solid red; */
	}
	#home-buttons{
		/* border: 1px solid green; */
		width:50%;
	}
	.device-type:before{
		content: "Laptop";
	}
	.container{
		/* border:none; */
		/* border: 1px solid white; */
	}
	#board-view{
		margin: 0 auto;
		border:none;
		width:100%;
		min-width: 460px;
		height:100%;
		grid-template-rows: 20% auto 2fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-areas: 	"score score score"
													"pawns1 board pawns2"
													"footer footer footer";
													 
		/* border:1px yellow solid; */
	}
	#scoreboard{
		border: none;
		display:flex;
		flex-direction:row;
		justify-content: space-between;
		grid-area: score;
	}
	.player-score{
		/* border: 1px yellow dashed; */
		width:45%;
		display:flex;
		
	}
	#player1-score{
		flex-direction: row;
	}
	#player2-score{
		flex-direction: row-reverse;
		text-align: right;
	}
	.avatar{
		width:140px;
		height:140px;
		flex:1;
		
	}
	.thinking-cloud{
		width:40px;
		height:40px;
	}
	.score{
		/* border:1px black solid; */
		flex:1;
		
	}
	.name{
		height:35px;
		width:100%;
		background:#333;
		color: #f4f4f4;
		font-weight:bold;
		/* border: 1px solid #f4f4f4; */
		border: 2px solid #fff;
		border-radius: 0 0 30% 0;
	}
	.name > p{
		font-size: 1rem;
		/* background:red; */
		height:100%;
		padding:0.4rem 0;
		padding-left:5%;
	}
	#player2-score > .score > .name{
		border-radius: 0 0 0 30%;
	}
	#player2-score > .score > .name >p{
		padding-right:5%;
		
	}

	.points{
		font-size:2.5rem;
		font-weight:bold;
		padding: 0 5px;
	}
	#board{
		margin:50px auto;
		border: none;
		width: 560px;
		height: 420px;
		grid-area: board;
		background: url(../img/board-mobile.jpg) no-repeat center center/cover;
		
	}
	.slot{
		width:70px;
		height:70px;
		padding: 0.4rem;
	}
	#round-celebration{
		
	}
	.pawns-container{
    flex-direction: column;
		width:80px;
		height:200px;
		margin-top:10rem;
		margin: auto;
		border: 1px solid red;
	}
	#player1-pawns-container{
		grid-area: pawns1;
		/* border:2px solid yellow; */
	}
	#player2-pawns-container{
		grid-area: pawns2;
		/* border:2px solid yellow; */
	}
	.pawns-container{
		border:none;
	}
	.pawn{
		width:55px;
		height:55px;
	}
	#board-footer{
		text-align: center;
	  grid-area: footer;
	  border:none;
	  margin-top:4rem;
	}
	.back-btn{

	  background: #333;
	  color: #f4f4f4;
	  padding: 0.6rem 1.4rem;
	  border-radius:0.3rem;
	  font-weight:bold;
	  border:none;
	  /*font-weight:bold;*/

	}
}