*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html, body{
  background:#c4c4c4;
  height:100%;
}

#board{
  height: 300px;
  width: 600px;
  background: url("../img/background.jpg") no-repeat center center;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  grid-area: board;
  border:1px yellow dashed;
  justify-self: center;
}


#board-view{
  display:grid;
  grid-template-columns: min-content auto min-content; 
  grid-template-areas: "pawns1 board pawns2"
                       "footer footer footer" 
  ;
  border:1px red dashed;
  width:100%;
  margin-top:1rem;
}
#home-view{
  display:flex;
  flex-direction:column;
  align-items: center;
  
}
.board-footer{
  grid-area: footer;
  text-align:center;
  margin-top:0.5rem;
}
.player1-pawns{
  grid-area: pawns1;
}
.player2-pawns{
  grid-area: pawns2;
}
.container{

  border:1px blue dashed;
  width:90%;
  margin:5px auto;
  min-width:750px;
}

.slot{
  width:50px;
  height:50px;
  background: #f4f4f4;
  display:inline-block;
  /* visibility: hidden; */
}

.row{
  display:flex;
  justify-content: space-between;
  /* border:1px red solid; */
  /* width:110%; */
  /* align-self: center; */
}

.pawns-container{
  height:50%;
  display:flex;
  flex-direction:column;
  justify-content:space-around;
  border:1px green solid;
  align-items:center;
  width: 55px;
  align-self:center;
}
.pawn{
  height:40px;
  width:40px;
  background:steelblue;
  border-radius:50%;
}

.highlight-slot{
  /* background: gray; */
  border:2px black dashed;
  transform: scale(1.3);
}

.highlight-pawn{

  border:2px black dashed;
  transform: scale(1.3);
}

.player2-pawn{
  background:green;
}

.winner-slot{
  background:red;
  
}